//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1110;//*изменить в соответствии с макетом!*/
$md1: 991.98;
$md2: 780;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;

//<ЦВЕТА>
$main: #999999;
$second: #fff;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $maxw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1200px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}
body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: $main;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.button-block {
	display: flex;
	justify-content: center;
}
.btn {
	display: block;
	width: 200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, .25);
	border-radius: 30px;
	padding: 12px 0 13px;
}
.title--h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #323232;
	@media (max-width: $md4+px) {
		font-size: 28px;
		line-height: 38px;
	}
	@media (max-width: $md6+px) {
		font-size: 22px;
		line-height: 30px;
	}
}
.title--h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.link {
	font-weight: 500;
	line-height: 20px;
	text-decoration-line: underline;
	color: #4985FF;
}
.white {
	color: $second;
}

/*===HEADER===*/
.header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	border-bottom: 1px solid rgba(161, 161, 161, .5);

	&-body {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100px;
	}
	&__burger {
		display: none;
	}
	&__menu {}
	&__list {
		display: flex;
		margin: 0 -20px 0 0;
		li {
			padding: 37px 20px;
			&:hover {
				border-bottom: 2px solid #fff;
			}
		}
	}
	#active {
		border-bottom: 2px solid #fff;
	}
	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $second;
	}
	@media (max-width: $md1+px) {
		&-body {
			height: 70px;
		}
		&__list {
			li {
				padding: 23px 20px;
			}
		}
	}
}

/*===MOBILE MENU===*/
@media (max-width: $md3+px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&__burger {
			display: block;
			position: relative;
			width: 40px;
			height: 20px;
			z-index: 3;
			span {
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&__burger:before,
		&__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&__burger:before {
			top: 0;
		}
		&__burger:after {
			bottom: 0;
		}
		&__burger.active span {
			transform: scale(0);
			background-color: #323232;
		}
		&__burger.active:before {
			transform: rotate(45deg);
			top: 9px;
			background-color: #323232;
		}
		&__burger.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
			background-color: #323232;
		}
		&__menu {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: -100%;
			overflow: auto;
			background-color: #fff;
			padding: 90px 0 20px 30px;
			transition: all 0.3s ease 0s;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			display: block;
			margin: 0;
			li {
				padding: 0;
				margin: 0 0 30px 0;
			}
		}
		#active {
			border: 0;
		}
		&__link {
			font-size: 18px;
			color: #323232;
		}
	}
}
@media (max-width: $md6+px) {
	.header {
		&-body {
			height: 60px;
		}
		&__menu {
			padding: 90px 0 20px 20px;
		}
	}
}
//===ОСНОВНОЙ БЛОК===//
.content {
	margin-top: -100px;
}
/*===MAIN SECTION===*/
.main {
	height: 900px;
	background-image: url('../img/main/bg.jpg');
	background-repeat: no-repeat;
	//background-size: cover;
	background-position: 50% 0%;
	color: #fff;
	padding: 319px 0 0;

	&__text {
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	&__title {
		font-weight: 800;
		font-size: 48px;
		line-height: 64px;
		text-align: center;
		margin-bottom: 45px;
	}
	@media (max-width: $md1+px) {
		&__title {
			br {
				display: none;
			}
		}
	}
	@media (max-width: $md4+px) {
		height: auto;
		padding: 200px 0 150px;

		&__title {
			font-size: 36px;
			line-height: 50px;
			margin-bottom: 45px;
		}
	}
	@media (max-width: $md6+px) {
		padding: 200px 0 110px;

		&__title {
			font-size: 30px;
			line-height: 46px;
			margin-bottom: 40px;
		}
	}
	@media (max-width: $md7+px) {
		&__title {
			font-size: 28px;
			line-height: 42px;
			margin-bottom: 35px;
		}
	}
}

/*===ABOUT SECTION===*/
.about {
	padding: 110px 0 105px;

	&__title {
		max-width: 740px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
	}
	&__text {
		max-width: 730px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 70px;
	}
	&-body {
		display: flex;
		margin-bottom: 55px;
	}
	&__column {
		flex: 0 1 33.333%;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-item {
		display: flex;
	}
	.item__img {
		flex: 0 0 110px;
		border: 1px solid #E0E0E0;
		border-radius: 50%;
		padding: 9px;
		margin-right: 17px;
	}
		
	.inner__circle {
		width: 90px;
		height: 90px;
		border: 1px solid #4985FF;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			display: block;
		}
	}
	.item__title {
		margin-bottom: 12px;
	}

	.item__text {
		font-size: 14px;
		line-height: 22px;
	}
	@media (max-width: 1100px) {
		&-body {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		&__column {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-item {
			max-width: 450px;
			margin: 0 auto;
		}
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 60px;
	}
	@media (max-width: $md3+px) {
		&__title,
		&__text {
			max-width: none;
		}
	}
	@media (max-width: $md4+px) {
		&__title {
			margin-bottom: 25px;
		}
		&__text {
			margin-bottom: 35px;
		}
	}
	@media (max-width: $md5+px) {
		&-item {
			max-width: none;
			flex-wrap: wrap;
			justify-content: center;
		}
		.item__img {
			margin-right: 0;
			margin-bottom: 10px;
		}
		.item__txt {
			flex: 0 1 315px;
		}
		.item__title,
		.item__text {
			text-align: center;
		}
	}
}

/*===STANDARDS SECTION===*/
.standards {
	background-color: #F6F6F8;
	padding: 100px 0 70px;

	&-body {
		display: flex;
		align-items: center;
		margin-bottom: 90px;
	}
	&__column {
		flex: 0 1 50%;
		margin-right: 121px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__title {
		margin-bottom: 40px;
	}
	&__text {
		margin-bottom: 30px;
	}
	&__img {
		max-width: 100%;
		box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
		border-radius: 30px;
	}
	&-bottom {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #E0E0E0;
		padding: 70px 45px 0;
	}
	&-bottom__column {
		flex: 0 1 104px;
	}
	.bottom-item__top {
		display: flex;
		justify-content: center;
	}
	&-bottom__icon {
		margin-right: 20px;
	}
	&-bottom__number {
		font-size: 36px;
		line-height: 53px;
		color: #000000;
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 60px;

		&-body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 1 1 100%;
			margin-right: 0;
		}
		.column--txt {
			margin-bottom: 40px;
		}
		&__title,
		&__text {
			text-align: center;
		}
		&-link {
			display: flex;
			justify-content: center;
		}
		.column--img {
			display: flex;
			justify-content: center;
		}
		&-bottom {
			flex-wrap: wrap;
			justify-content: center;
			padding: 70px 0 0;

			&__column {
				margin: 0 50px;
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@media (max-width: $md3+px) {
		&-body {
			margin-bottom: 60px;
		}
		&-bottom {
			padding: 40px 0 0;
		}
	}
	@media (max-width: $md4+px) {
		&__title {
			margin-bottom: 25px;
		}
	}
	@media (max-width: $md6+px) {
		&-body {
			margin-bottom: 50px;
		}
		&-bottom {
			padding: 30px 0 0;
		}
	}
}

/*===WORKS SECTION===*/
.works {
	background-image: url('../img/works/bg.jpg');
	background-repeat: no-repeat;
	background-size: 1920px 490px;
	background-position: 100% 0%;
	padding: 100px 0 85px;

	&-title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 70px;
	}
	&-body {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #E0E0E0;
	}
	&__column {
		flex: 0 0 350px;
		display: flex;
		flex-direction: column;
		margin-bottom: 85px;
	}
	&__img {
		width: 350px;
		max-width: 100%;
		border-radius: 10px;
		margin-bottom: 30px;
	}
	&-column__title {
		margin-bottom: 30px;
		span {
			color: #4985FF;
		}
	}
	&__text {
		flex: 1;
		margin-bottom: 30px;
	}
	@media (max-width: 1200px) {
		&-body {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__column {
			flex: 1 1 100%;
			align-items: center;
		}
		&-column__title {
			text-align: center;
		}
		&__text {
			max-width: 500px;
			flex: 0;
			text-align: center;
		}
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 40px;

		&-title-block {
			flex-direction: column;
		}
		&__title {
			text-align: center;
			margin-bottom: 40px;
		}
		&__column {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
	@media (max-width: $md3+px) {
		&__img {
			margin-bottom: 20px;
		}
		&-column__title,
		&__text {
			margin-bottom: 15px;
		}
	}
	@media (max-width: $md4+px) {
		padding: 50px 0 30px;

		&-title-block {
			margin-bottom: 50px;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__text {
			max-width: none;
		}
		&__column {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}
}

/*===PROJECTS SECTION===*/
.projects {
	background-color: #F6F6F8;
	padding: 100px 0 130px;

	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
	&__text {
		max-width: 730px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 70px;
	}
	&-body {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	&__img {
		max-width: 100%;
		border-radius: 10px;
	}
	@media (max-width: 1200px) {
		&-body {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 10px;
		}
		&__column {
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			margin-bottom: 40px;
		}
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 60px;
	}
	@media (max-width: $md3+px) {
		&__column {
			flex: 1 1 100%;
		}
		&__text {
			max-width: none;
		}
	}
	@media (max-width: $md4+px) {
		&__title {
			margin-bottom: 25px;
		}
		&__text {
			margin-bottom: 40px;
		}
	}
}

/*===VIDEO SECTION===*/
.video {
	background-image: url('../img/video/bg.jpg');
	//background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('../img/video/bg.jpg');
	background-repeat: no-repeat;
	background-size: 1920px 570px;
	padding: 70px 0 30px;

	&__title {
		text-align: center;
		margin-bottom: 30px;
	}
	&__text {
		text-align: center;
		color: #fff;
		margin-bottom: 70px;
	}
	&-body {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__img {
		max-width: 100%;
		display: block;
		box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
		border-radius: 10px;
	}
	&-play {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
	    z-index: 2;
		border: 1px solid #FFFFFF;
		border-radius: 200px;
		padding: 0 40px;
		&:hover {
			cursor: pointer;
			.play__triangle {
				border-left: 16px solid #ff0000;
			}
		}
	}
	.play__btn {
		width: 60px; 
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 50%;
	}
	.play__triangle {
		width: 0; 
		height: 0;
		border-top: 10px solid transparent;
		border-left: 16px solid #4985FF;
		border-bottom: 10px solid transparent;
		margin-left: 5px;
	}
	.play__text {
		font-weight: 500;
		color: #fff;
		margin-left: 21px;
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 30px;
	}
	@media (max-width: $md3+px) {
		&-play {
			height: auto;
			padding: 10px;
		}
		.play__text {
			display: none;
		}
	}
	@media (max-width: $md4+px) {
		&__title {
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 40px;
		}
	}
}

/*===SIGN IN SECTION===*/
.signin {
	padding: 55px 0 85px;

	&-body {
		border-top: 1px solid #E0E0E0;
		padding-top: 85px;
	}
	&__title {
		text-align: center;
		margin-bottom: 20px;
	}
	&__subtitle {
		text-align: center;
		margin-bottom: 30px;
	}
	&__form {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}
	.form__body {
		display: flex;
	}
	.input__line {
		width: 299px;
		height: 45px;
		border: 1px solid #F2F2F2;
		box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
		border-radius: 30px 0 0 30px;
		font-size: 13px;
		line-height: 21px;
		padding: 0 10px 0 33px;
	}
	.btn--form {
		width: 190px;
		border: 0;
		border-radius: 0px 30px 30px 0px;
		cursor: pointer;
	}
	&__text {
		font-size: 13px;
		line-height: 21px;
		text-align: center;
	}
	@media (max-width: $md1+px) {
		padding: 45px 0 55px;

		&-body {
			padding-top: 50px;
		}
	}
	@media (max-width: $md4+px) {
		.form__body {
			width: 299px;
			flex-direction: column;
			align-items: center;
		}
		.input-line {
			margin-bottom: 15px;
		}
		.input-line,
		.submit-button {
			width: 100%;
		}
		.input__line,
		.btn--form {
			width: 100%;
			border-radius: 30px;
		}
	}
	@media (max-width: $md7+px) {
		.form__body {
			width: 100%;
		}
	}
}

/*===FOOTER===*/
.footer {
	background-color: #F6F6F8;
	padding: 70px 0 30px;

	&-body {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}
	&__column {}
	&__title {
		margin-bottom: 35px;
	}
	&__list {
		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__link {
		font-size: 14px;
		line-height: 22px;
		color: $main;
		&::before {
			content: url('../img/footer/arrow_r.svg');
			margin-right: 12.6px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.contact {
		&::before {
			margin-right: 15px;
		}
	}
	#email {
		&::before {
			content: url('../img/footer/email.svg');
		}
	}
	#call {
		&::before {
			content: url('../img/footer/call.svg');
		}
	}
	#place {
		&::before {
			content: url('../img/footer/place.svg');
		}
	}
	&-bottom {
		padding-top: 30px;
		border-top: 1px solid #E0E0E0;
	}
	&__copyright {
		font-size: 13px;
		line-height: 21px;
		text-align: center;
	}
	@media (max-width: 1200px) {
		&-body {
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		&__column {
			flex: 0 1 50%;
			margin-bottom: 40px;
		}
	}
	@media (max-width: $md1+px) {
		padding: 50px 0 30px;
	}
	@media (max-width: $md3+px) {
		&__column {
			flex: 1 1 100%;
			margin-bottom: 30px;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__list {
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/*===MODAL EMAIL===*/
.modal-email {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);

	&__body {
		position: relative;
		max-width: 400px;
		max-height: 50vh;
        overflow-y: auto;
		margin: 50px auto 0;
		background-color: #fff;
		border-radius: 10px;
		padding: 50px 40px 40px;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 45px;
		color: #323232;
		cursor: pointer;
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #323232;
		margin-bottom: 15px;
	}
	&__text {
		text-align: center;
	}
	@media (max-width: $md3+px) {
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;

		&__body {
			padding: 40px 20px 20px;
		}
	}
}